
#container
{
    margin-left:0px; margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 1200px; height:auto;
    text-align:left;
}

#head
{
    margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 1200px; height:auto;
    padding:0px;
    text-align:center;
}

#navigation
{   
    margin-left:0;
    height: 0; width:0;
    text-decoration:none;
    padding:none;
    font-size:0px;
}

#content
{
    margin-left:0px; margin-right:auto; margin-top:2px; margin-bottom:2px;
    width: 1020px;
}

#foot
{
    margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 1200px; height:100px;
}

a
{   
    text-decoration:none;
    color:000000;
}

video
{
    visibility:hidden;
    width: 0px; height:0px;
}

h3
{
    
 text-decoration:none;
 padding:0px;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}

.Date
{
text-align:right;
font-style:oblique;
Border-bottom:1px Solid black;
}

.Right
{
    float:right;
    margin:5px;
}







